.avatar{
  height: 45px;
  width: 45px;
  background: #efe8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: blue;
}
.conDetail{
  background: black;
  border-radius: 7px;
    height: 150px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
